@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    margin: 0;
}

body {
    background-image: url(../images/emilio-garcia-AWdCgDDedH0-unsplash-_1_.webp);
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header styling */

header {
    font-size: 1.5rem;
    border: 0.3rem solid;
    background: azure;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.9;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin-top: 15px;
    font-family: belanosima, sans-serif;
    font-size: 2em;
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 94);
}

h2 {
    text-align: center;
    font-weight: 800;
    margin-top: 15px;
    font-family: belanosima, sans-serif;
    font-size: 2em;
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 94);
}

/* Home page */
.home-area {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    border: 0.3rem solid;
    background: azure;
    margin: 75px auto 0;
    border-radius: 10px;
    padding: 30px;
    display: block;
    text-align: center;
}

p {
    padding: 15px;
    color: rgb(0, 0, 94);
    font-size: 1.5em;
    font-weight: 800;
    font-family: belanosima, sans-serif;
}

div ul {
    font-family: belanosima, sans-serif;
    font-weight: 800;
}

#start-btn {
    padding: 15px;
    margin-top: 25px;
    align-content: center;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(0, 0, 94);
    border-radius: 10px;
    border: 0.3rem solid;
    border-color: black;
}

#start-btn:hover {
    color: azure;
    background: rgb(0, 0, 94);
}

.hidden {
    display: none;
}

/* Game area */
.question-container.hidden {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    border: 0.3rem solid;
    background: azure;
    margin: 75px auto 0;
    border-radius: 10px;
    padding: 30px;
    display: block;
    text-align: center;
}

.quiz {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    border: 0.3rem solid;
    background: azure;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 15px;
    display: block;
    text-align: center;
    opacity: 0.9;
}

.quiz h3 {
    font-size: 1.5rem;
    color: rgb(0, 0, 94);
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 25px;
}

#ans-btn {
    padding: 20px 0;
}

/* Answer button styling */
.btn {
    background: azure;
    color: rgb(0, 0, 94);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: rgb(0, 0, 94);
    color: azure;
}

/* Next question button */
#nxt-btn {
    background: rgb(0, 0, 94);
    color: azure;
    margin: 20px auto 0;
    font-weight: 600;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    display: none;
}

/* Correct + Incorrect answers */
.correct {
    background: rgb(89, 197, 89);
}

.incorrect {
    background: rgb(221, 72, 72);
}

.score-area {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 200;
    display: inline-flex;
}

.right {
    color: rgb(23, 102, 23);
}

.wrong {
    color: rgb(151, 17, 17);
}

/* footer */
#footer {
    bottom: 0;
    font-size: 20px;
    height: 12.5rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.socials {
    margin: 65px;
    font-size: 25px;
    letter-spacing: 15px;
    text-align: center;
}

.socials>li {
    display: inline;
    text-align: center;
}

.socials i {
    color: black;
    font-size: 120%;
    margin: 1px;
    padding: 20px;
    text-align: center;
}

/* 404 error page */

#error {
    line-height: 70px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    margin-top: 60%;
}

#error h1 {
    font-size: 3rem;
}

#error h2 {
    font-size: 3rem;
    font-family: belanosima, sans-serif;
    color: rgb(0, 0, 94);
}

/*Media queries */

/* For large to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {

    .home-area,
    .question-container.hidden,
    .quiz {
        margin: 50px auto 0;
    }
}

/* For meduim screen sizes from 850px wide and down */

@media screen and (max-width: 850px) {

    .home-area,
    .question-container.hidden,
    .quiz {
        margin: 30px auto 0;
    }

    h1,
    h2 {
        font-size: 1.5em;
    }
}

/* For small screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {

    .home-area,
    .question-container.hidden,
    .quiz {
        margin: 15px auto 0;
        padding: 15px;
    }

    h1,
    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    #start-btn {
        padding: 8px;
        font-size: 0.9em;
    }

    .btn {
        font-size: 16px;
        padding: 6px;
        margin: 6px 0;
    }

    .score-area {
        font-size: 25px;
    }

    #nxt-btn {
        font-size: 14px;
        width: 120px;
    }

    #footer {
        font-size: 14px;
        height: auto;
    }

    .socials {
        margin: 29px;
        font-size: 35px;
        letter-spacing: 20px;
    }

    .socials i {
        font-size: 80%;
        padding: 6px;
    }

}

/* For smaller screen sizes from 380px wide and down */
@media screen and (max-width: 380px) {

    .home-area,
    .question-container.hidden,
    .quiz {
        margin: 10px auto 0;
        padding: 10px;
    }

    header {
        font-size: 25px;
        border: 0.3rem solid;
        background: azure;
        margin: 15px auto 0;
        border-radius: 10px;
        padding: 10px;
    }

    .quiz h3 {
        font-size: 18px;
        color: rgb(0, 0, 94);
        font-weight: 600;
        border-bottom: 1px solid;
        padding-bottom: 15px;
    }

    h1,
    h2 {
        font-size: 27px;
        padding: initial;
    }

    p {
        font-size: 25px;
        padding-bottom: 5px;
        padding-top: initial;
    }

    div ul {
        font-size: 15px;
        line-height: 30px;
        margin-left: -19px;
    }

    #start-btn {
        padding: 6px;
        font-size: 0.8em;
    }

    .btn {
        font-size: 14px;
        padding: 5px;
        margin: 5px 0;
    }

    .score-area {
        font-size: 25px;
    }

    #nxt-btn {
        font-size: 13px;
        width: 115px;
    }

    #footer {
        margin-top: 5px;
    }

    .socials {
        margin: 5px;
        font-size: 35px;
        letter-spacing: 25px;
    }

    .socials i {
        font-size: 70%;
        padding: 4px;
    }

    #error {
        line-height: 70px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 100px;
        margin: auto;
    }

}